@inherits LayoutComponentBase


<div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
        <NavMenu />
        <div class="col d-flex flex-column h-sm-100">
            <main class="row overflow-auto">
                <article class="col pt-4">
                    @Body
                </article>
            </main>
           <MainNav/> 
        </div>
    </div>
</div>
